<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loja de Produtos Biologicos</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
</head>
<style>
    .button_next {
        background-color: #663300;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 1000px;
        cursor: pointer;
    }
</style>
<body>
<header id="header"><!--header-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="produto"><img src="./images/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"><img src="./images/compras.png" width="20"/></i></a></li>
                            <li><a href="index.html"><i class="fa fa-lock"></i>SAIR</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
</header><!--/header-->


<div class="col-sm-12 padding-center">
    <h2 class="title text-center">CARRINHO DE COMPRAS</h2>
</div>

<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="description">Nome de Produto</td>
                    <td class="price">Preco Unitario</td>
                    <td class="quantity">Quantidade</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="linha : ${carrinho.linhaFat}">
                    <td class="cart_description">
                        <h4 th:text="${linha.nomeProd}"></h4> <!--NOME DE PRODUTO -->
                        <p th:text="${linha.idProd}"></p> <!--NUMERO DE PRODUTO -->
                    </td>
                    <td class="cart_price">
                        <h4 th:text="${linha.precoUnitario}"></h4> <!--NOME DE PRODUTO -->
                    </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_down" th:href="@{/diminuiQtd(idprod=${linha.idProd})}"> - </a>
                                <!--<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">-->
                                <p class="cart_quantity_input" th:text="${linha.quant}"></p>
                                <a class="cart_quantity_up" th:href="@{/aumentaQtd(idprod=${linha.idProd})}"> + </a>
                            </div>
                        </td>
                    <td class="cart_total">
                        <h4 th:text="${linha.preco}"></h4> <!--NOME DE PRODUTO -->
                    </td>
                </tr>
                </tbody>
            </table>
            <form th:action="@{/passo2}" th:object="${ent}" method="POST">
                <select th:field="*{forma}" name="forma">
                    <option th:value="1" th:text="'Sua morada'"></option>
                    <option th:value="2" th:text="'Levantar em loja'"></option>
                    <option th:value="3" th:text="'Levantar noutra morada escolhida por si'"></option>
                </select>
                <button type="submit" class="button_next">Seguinte(Passo 2 de 3)</button>
            </form>
        </div>
    </div>
</section> <!--/#cart_items-->

<div class="col-sm-6 padding-center">
    <!--<h2 class="title text-center">SELECIONE A MORADA</h2>
    <select th:field="*{forma}" class="select_Combo">
        <option th:value="'user'">Morada predefinida</option>
        <option th:value="'loja'">Levantar em loja</option>
        <option th:value="'novamorada'">Levantar noutra morada</option>
    </select>-->
</div>

<!--SELECT DO TIPO DE ENCOMENDA-->




</body>
</html>