<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loja de Produtos Biologicos</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="./css/registar.css" rel="stylesheet" media="all">
</head>

<body>
<header id="header"><!--header-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="index"><img src="images/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
</header>

<section>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="wrap d-md-flex">
                    <p th:text="'A sua encomenda com número: '+${numencomenda}+' foi realizada com sucesso!'"></p>
                    <p th:text="'Tem valor de: '+${valencomenda}+'€'"></p>
                    <p>Ir para a minha área de cliente:</p>
                    <div class="p-t-30">
                        <button class="btn btn--radius btn--green" th:action="@{/minhasEncomendas}">Ir para a area cliente</button>
                    </div>
                </div>
    </div>
        </div>
    </div>
</section>

<button></button>


</body>
</html>