<!DOCTYPE html>
<html lang="en">
<head>
  <title>Loja de Produtos Biologicos</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/price-range.css" rel="stylesheet">
</head>

<body>
<header id="header"><!--header-->

  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <a href="index.html"><img src="images/logo.png" alt="" /></a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li><a href="cart.html"><i class="fa fa-shopping-cart"><img src="images/compras.png" width="20"/></i></a></li>
              <li><a href="index"><i class="fa fa-lock"></i>SAIR</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->



  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="index.html" class="active">Inicio</a></li>
              <li class="dropdown"><a href="#">Comprar<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="produto">Produtos</a></li>
                  <li><a href="product-details.html">Carrinho</a></li>
                  <li><a href="minhasEncomendas">As minhas encomendas</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="search_box pull-right">
            <input type="text" placeholder="Procurar"/>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->

<!-- ATE AQUI CORRETO -->
<!-- APENAS VER BARRA DE PESQUISA -->


<div class="col-sm-12 padding-center">
  <h2 class="title text-center" th:text="'DETALHES DA ENCOMENDA '+ ${fatura.numfatura}"></h2>
</div>

<style>
  .detalhes {
    padding: 50px 250px;
  }
</style>

<div class="detalhes">
  <p th:text="'Data da fatura: '+${fatura.data}" ></p>
  <p th:text="'Estado da fatura: '+${estado}"></p>
</div>


<div class="col-sm-12 padding-center">
  <h2 class="title text-center">PRODUTOS ENCOMENDADOS</h2>
</div>


<section id="cart_items">
  <div class="container">
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
        <tr class="cart_menu">
          <td class="description">Numero de Produto</td>
          <td class="price">Nome do Produto</td>
          <td class="quantity">Quantidade encomendada</td>
          <td class="total">Preco</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="linha : ${linhasfatura}">
          <td class="cart_product">
            <a  th:text="${linha.idProd}"></a>
          </td>

          <td class="cart_description">
            <a th:text="${linha.nomeProd}"></a>
          </td>
          <td class="cart_price">
            <a th:text="${linha.quant}"></a>
          </td>
          <td class="cart_total">
            <a th:text="${linha.preco}"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


<div class="detalhes">
  <p th:text="'Valor Total: '+${fatura.valorfatura}"></p>
</div>



</body>
</html>