<!DOCTYPE html>
<html lang="en">
<head>
  <title>Loja de Produtos Biologicos</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/boxtext.css">
</head>

<body>
<header id="header"><!--header-->

  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <a href="produto"><img src="./images/logo.png" alt="" /></a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li><a th:text="'BEM-VINDO '+${nomeuser}"><i class="fa fa-shopping-cart"></i></a></li>
              <li><a href="carrinhoCompras"><i class="fa fa-shopping-cart"><img src="./images/compras.png" width="20"/></i></a></li>
              <li><a href="/logout"><i class="fa fa-lock"></i>SAIR</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->
</header><!--/header-->



  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="/produto" class="active">Inicio</a></li>
              <li class="dropdown"><a href="#">Comprar<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="produto">Produtos</a></li>
                  <li><a href="carrinhoCompras">Carrinho</a></li>
                  <li><a href="minhasEncomendas">As minhas encomendas</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->

<div class="col-sm-12 padding-right">
  <h2 class="title text-center" th:text="'Detalhes do Produto: '+${produto.nome}"></h2>
</div>


<div class="three_box">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="box_text">
          <h3>Tipo de Produto</h3>
          <p th:text="${produto.tipoprodutoByIdtipoproduto.seccao}"></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box_text">
          <h3>Quantidade em Stock</h3>
          <p th:text="${produto.quantidadestock}"></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box_text">
          <h3>Preco de Venda</h3>
          <p th:text="${produto.valorunitariototal}"></p>
        </div>
      </div>
    </div>
    <button type="submit" class="button_next">Adicionar ao Carrinho</button>
  </div>
</div>

</body>
</html>
