<!DOCTYPE html>
<html lang="en">
<head>

	<title>Loja de Produtos Biologicos</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/main.css" rel="stylesheet">
	<link href="./css/price-range.css" rel="stylesheet">
</head>

<body>
	<header id="header"><!--header-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index"><img src="images/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="registar"><i class="fa fa-shopping-cart"></i>REGISTAR</a></li>
								<li><a href="login"><i class="fa fa-lock"></i>LOGIN</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.html" class="active">Inicio</a></li>
								<li class="dropdown"><a href="#">Comprar<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Produtos</a></li>
										<li><a href="product-details.html">Carrinho</a></li>
										<li><a href="checkout.html">As minhas encomendas</a></li>
                                    </ul>
                                </li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Procurar"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->









	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<table border="1">
					<div class="left-sidebar">
						<h2>Tipos de Produtos</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->

							<!--INSERIR TIPOS DE PRODUTOS -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Kids</a></h4>
								</div>
							</div>
							<!--FIM DE INSERCAO DE TIPOS DE PRODUTOS -->
						</div><!--/category-products-->
					</div>
					</table>
				</div>


<!-- inserir um produto -->
				<div class="col-sm-9 padding-right">
					<h2 class="title text-center">PRODUTOS</h2>
				</div>

						<div class="col-sm-4">
										<div class="productinfo text-center">
											<h2>Easy Polo Black Edition</h2>
											<p>56 &euro;</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>teste1</a>
										</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Ver detalhes</a></li>
									</ul>
								</div>
						</div><!--features_items-->
<!-- FIM DE INSERÇÃO DE UM PRODUTO -->
		</div>
		</div>
	</section>
</body>
</html>