<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loja de Produtos Biologicos</title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
<header id="header"><!--header-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="index.html"><img src="images/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
</header>



<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(images/imagem.jpg);">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h1></h1>
                                <h3 class="mb-4">Bem-Vindo</h3>
                                <h1></h1>
                            </div>
                        </div>
                        <form action="#" class="signin-form">
                            <div class="form-group mb-3">
                                <label class="label">Nome de utilizador</label>
                                <input type="text" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label">Palavra-passe</label>
                                <input type="password" class="form-control" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Entrar</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <h1></h1>
                                <h1></h1>
                            </div>
                        </form>
                        <p class="text-center">Ainda nao tem conta?<a data-toggle="tab" href="#signup"> Registe-se</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>