<!DOCTYPE html>
<html lang="en">
<head>
  <title>Loja de Produtos Biologicos</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/boxtext.css">
</head>

<body>
<header id="header"><!--header-->

  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <a href="produto"><img src="./images/logo.png" alt="" /></a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li><a th:text="'BEM-VINDO '+${nomeuser}"><i class="fa fa-shopping-cart"></i></a></li>
              <li><a href="carrinhoCompras"><i class="fa fa-shopping-cart"><img src="./images/compras.png" width="20"/></i></a></li>
              <li><a href="/logout"><i class="fa fa-lock"></i>SAIR</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->
</header><!--/header-->



  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="/produto" class="active">Inicio</a></li>
              <li class="dropdown"><a href="#">Comprar<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="produto">Produtos</a></li>
                  <li><a href="carrinhoCompras">Carrinho</a></li>
                  <li><a href="minhasEncomendas">As minhas encomendas</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->


<style type="text/css">
  body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: white;
  }
  .main-body {
    padding: 15px;
  }
  .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }
  .button_nextste{
    background-color: #663300;
  }
</style>


<div class="container">
  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="./images/avatar.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h1>&nbsp;</h1>
                <h4 th:text="'NOME: '+${cli.nome}"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Nome</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                <p th:text="${cli.nome}"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Telefone</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                <p th:text="${cli.telefone}"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Morada</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                <p th:text="${morcli}"></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" th:href="@{/alterauser}">Alterar os meus dados</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</body>
</html>
