<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loja de Produtos Biologicos</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="./css/registar.css" rel="stylesheet" media="all">
</head>

<body>
<header id="header"><!--header-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="index"><img src="images/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
</header>

<section>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div>
                    <a href="index"><img src="images/imagem.jpg"width="100" length="100" alt="" /></a>
                </div>
                <div class="card-heading"></div>
                <div class="wrap d-md-flex">
                <div class="card-body">
                    <h2 class="title">Registo</h2>
                    <form th:object="${cli}" method="POST">
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Nome" th:field="*{nome}" name="name" readonly>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2 js-datepicker" type="text" placeholder="Username" th:field="*{username}" name="birthday" readonly>
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2" type="text" placeholder="Telefone" th:field="*{telefone}" name="res_code">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2 js-datepicker" type="text" placeholder="Rua" th:field="*{rua}" name="birthday">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2 js-datepicker" type="number" placeholder="Numero de Porta" th:field="*{numporta}" name="birthday">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                            <!--
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2 js-datepicker" type="text" placeholder="Numero de Porta" th:field="*{numporta}" name="birthday">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                            -->
                            <!--BOTÃO DE BACK-->
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2" type="text" placeholder="Codigo Postal" th:field="*{codpostal}" name="res_code">
                                </div>
                            </div>
                            <div class="row row-space">
                                <div class="col-6">
                                    <div class="input-group">
                                        <input class="input--style-2" type="text" placeholder="Localidade" th:field="*{localidade}" name="res_code">
                                    </div>
                                </div>
                        </div>
                            <div class="row row-space">
                                <div class="col-6">
                                    <div class="input-group">
                                    </div>
                                </div>
                                </div>
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Registar</button>
                        </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


</body>
</html>