<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loja de Produtos Biologicos</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="css/boxtext.css">
    <link href="./css/mudarcliente.css" rel="stylesheet" media="all">
</head>

<body>
<header id="header"><!--header-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="produto"><img src="./images/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a th:text="'BEM-VINDO '+${nomeuser}"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="carrinhoCompras"><i class="fa fa-shopping-cart"><img src="./images/compras.png" width="20"/></i></a></li>
                            <li><a href="/logout"><i class="fa fa-lock"></i>SAIR</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
</header><!--/header-->


<section>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">ALTERAR OS SEUS DADOS</h2>
                    <form th:action="@{/postalterauser}" th:object="${cli}" method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Numero de Cliente</label>
                                    <input class="input--style-4" type="text" placeholder="Seu id de cliente" th:field="*{idcliente}" name="birthday" readonly>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Nome</label>
                                    <input class="input--style-4" type="text" placeholder="Nome" th:field="*{nome}" name="name" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Username</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" placeholder="Username" th:field="*{username}" name="birthday" readonly>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Telefone</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4" type="text" placeholder="Telefone" th:field="*{telefone}" name="res_code">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Rua</label>
                                    <input class="input--style-4" type="text" placeholder="Rua" th:field="*{rua}" name="birthday">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Numero de Porta</label>
                                    <input class="input--style-4" type="number" placeholder="Numero de Porta" th:field="*{numporta}" name="birthday">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Codigo Postal</label>
                                    <input class="input--style-4" type="text" placeholder="Codigo Postal" th:field="*{codpostal}" name="res_code">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Localidade</label>
                                    <input class="input--style-4" type="text" placeholder="Localidade" th:field="*{localidade}" name="res_code">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Alterar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>