<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loja de Produtos Biologicos</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="./css/registar.css" rel="stylesheet" media="all">
</head>

<body>
<header id="header"><!--header-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="index"><img src="images/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
</header>

<section>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(../static/images/imagem.jpg);">
                    </div>
                <div class="card-body">
                    <h2 class="title">Registo</h2>
                    <form method="POST">
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Nome" name="name">
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2 js-datepicker" type="text" placeholder="Username" name="birthday">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2 js-datepicker" type="password  " placeholder="Palavra-Passe" name="birthday">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2 js-datepicker" type="text" placeholder="Rua" name="birthday">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2 js-datepicker" type="text" placeholder="Numero de Porta" name="birthday">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2" type="text" placeholder="Codigo Postal" name="res_code">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input class="input--style-2" type="text" placeholder="Telefone" name="res_code">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Registar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


</body>
</html>