<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loja de Produtos Biologicos</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="./css/registar.css" rel="stylesheet" media="all">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div class="header-middle"><!--header-middle-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo pull-left">
                    <a href="produto"><img src="./images/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="shop-menu pull-right">
                    <ul class="nav navbar-nav">
                        <li><a th:text="'BEM-VINDO '+${nomeuser}"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a href="carrinhoCompras"><i class="fa fa-shopping-cart"><img src="./images/compras.png" width="20"/></i></a></li>
                        <li><a href="logout"><i class="fa fa-lock"></i>SAIR</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--/header-middle-->
</header><!--/header-->

<!--<h1>&nbsp;</h1>   TAG FOR CREATE SPACE -->

<section>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="wrap d-md-flex">
                    <div class="card-body">
                        <h2 class="title">Introduza os dados para a respetiva entrega</h2>
                        <form th:action="@{/saveEncomenda}" th:object="${moradacli}" method="post">
                            <div class="row row-space">
                                <div class="col-6">
                                    <div class="input-group">
                                        <input class="input--style-2 js-datepicker" type="text" placeholder="Codigo-Postal" th:field="*{codpostal}" name="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group">
                                        <input class="input--style-2 js-datepicker" type="text" placeholder="Localidade" th:field="*{localidade}" name="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-space">

                            </div>
                            <div class="row row-space">
                                <div class="col-12">
                                    <div class="input-group">
                                        <input class="input--style-2" type="text" placeholder="Rua" th:field="*{rua}" name="res_code">
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group">
                                            <input class="input--style-2" type="number" placeholder="Numero de Porta" th:field="*{numporta}" name="res_code">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group">
                                            <p class="col-sm-12 padding-center">Data e hora da entrega: </p>
                                            <input class="input--style-2" type="datetime-local" placeholder="Hora de Entrega" name="res_code">
                                        </div>
                                    </div>
                                </div>
                                -->
                                <div class="p-t-30">
                                    <button class="btn btn--radius btn--green" type="submit">Seguinte(Passo 3 de 3)</button>
                                </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>