<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loja de Produtos Biologicos</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="./css/registar.css" rel="stylesheet" media="all">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/boxtext.css">
    <link href="./css/mudarcliente.css" rel="stylesheet" media="all">
</head>

<body>
<div class="header-middle"><!--header-middle-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo pull-left">
                    <a href="produto"><img src="./images/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="shop-menu pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="meusdetalhes" th:text="'BEM-VINDO '+${nomeuser}"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a href="carrinhoCompras"><i class="fa fa-shopping-cart"><img src="./images/compras.png" width="20"/></i></a></li>
                        <li><a href="logout"><i class="fa fa-lock"></i>SAIR</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--/header-middle-->
</header><!--/header-->

<h1>&nbsp;</h1>

<section>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">INTRODUZA A MORADA DE ENVIO</h2>
                    <form th:action="@{/saveEncomenda}" th:object="${moradacli}" method="post">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Codigo Postal</label>
                                    <input class="input--style-4" type="text" placeholder="Codigo-Postal" th:field="*{codpostal}" name="birthday">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Localidade</label>
                                    <input class="input--style-4" type="text" placeholder="Localidade" th:field="*{localidade}" name="birthday">
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Rua</label>
                                    <input class="input--style-4" type="text"  placeholder="Rua" th:field="*{rua}" name="birthday">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Numero de Porta</label>
                                    <input class="input--style-4" type="text" placeholder="Numero" th:field="*{numporta}" name="birthday">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius btn--green" type="submit">Seguinte(Passo 3 de 3)</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>